.popup__span-register {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: opacity linear 0.5s;
    margin: auto;
    display: flex;
    align-items: center;
  }
  
  .popup__span-register:hover {
    opacity: .6;
  }